*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #583f1c;
    background-color: #dbbca4;

}

/* Style top navigation */
section {
    display: -webkit-flex;
    display: flex;
  }

/* Style the navigation bar */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #f7eadb;
    padding: 10px;
    text-align: end;
    position: fixed;
    top: 0;
    width: 100%;

  }

  /* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

li {
      display: inline;   
  }

li a {
      padding: 8px;
      text-decoration: none;
      color: #583f1c;
  }

a:hover{
      color: #ffffff;
      transition: 0.5s;
  }

  /* Style homepage */

#name{
    display:flex;
    margin-top: 80%;
    margin-left: 10%;
    font-weight: 150;
}

#description{
    display: flex;
    margin-left: 15%;
}

@media only screen and (min-width: 768px){
    #name{
        margin-top: 60%;  
    }
    #description{
        margin-top: 2%;
    }  
}

@media only screen and (min-width: 769px){
    #name{
        margin-top: 23%;
        margin-left: 20%;
        font-size: 3em;
    }
    #description{
        margin-left: 25%;
        font-size: 1.5em;
    }
}

/* Style about page */
.roundimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 280px;
    border-radius: 50%; 
    margin-top: 5%; 
}
.about h2{
    font-weight: 100;
}
.about i{
    font-weight: 500;
}
.experience{
    text-decoration: overline;
}
.info{
    width: 80%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


/* Style projects page  */

.project p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    
}
.project h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 100;
    margin-top: 15%;

}
.project h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 100;
    margin-top: 10%;
}
#hartigan{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px){
    .project h1{
        margin-top: 10%;
    }
}


/* Style blog page */ 

.blog h1{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    font-weight: 150;
}

.posts h3{
    font-size: 1.5em;
    font-weight: 100;
}

.posts p{
    font-family: 'Times New Roman', Times, serif;
}
.post1{
    display: flex;
    justify-content: center;
    align-items: column;
    flex-wrap: wrap;  
    margin-top: 10%;
}
.post2{
    display: flex;
    justify-content: center;
    align-items: column;
    flex-wrap: wrap;  
}
.post3{
    display: flex;
    justify-content: center;
    align-items: column;
    flex-wrap: wrap;  
}
.post4{
    display: flex;
    justify-content: center;
    align-items: column;
    flex-wrap: wrap;  
}
.post5{
    display: flex;
    justify-content: center;
    align-items: column;
    flex-wrap: wrap;  
}

.posts img{
    width: 350px;
    height: 250px;
}

@media only screen and (min-width: 768px) {
    
}


/* Style contact page */

.contact h1 {
    display: flex;
    margin-left: 30%;
    margin-top: 80%;
    font-weight: 150;
}

.contact p{
    display: flex;
    margin-left: 30%;
    margin-top: 10%;
}

@media only screen and (min-width: 768px){
    .contact h1{
        margin-top: 50%;  
        margin-left: 35%;
        font-size: 3em;
    }  
   .contact p{
       margin-top: 5%;
       margin-left: 35%;
       font-size:1.5em;
   }
}

@media only screen and (min-width: 769px){
    .contact h1{
        margin-top: 20%;
        margin-left: 40%;
    }
    .contact p{
        margin-left: 40%;
    }
}


/* Style the footer */
footer {
    background-color: #9e9e9e;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
/* 
  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
.about{width: 100%;}
 

  /* For tablets */
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

/* About */
/* #name{ position:absolute; top: 450px; left: 120px;}
#description{position: absolute; top: 500px; left: 180px;} */
/* Projects */

/* Contact */
/* .contact h1{font-size: 2.5em; position: absolute; top: 450px; left: 280px;}
#email{font-size: 1.5em; position: absolute; top: 530px; left: 280px;}
#nr{font-size: 1.5em; position: absolute; top: 600px; left: 280px;} */
/* Blog */
/* .blog img{width: 400px; height: 400px; float: left;}
.blog p {float: right;} */

  
  /* For desktop */
  @media only screen and (min-width: 769px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
/* Homepage */
/* #name{position: absolute; top: 320px; left: 320px; font-size: 3em; font-weight: 150;}
#description{position: absolute; top: 400px; left: 420px; font-size: 1.5em;}  */
/* Project */

/* Contact */
/* .contact h1{position: absolute; top: 320px; left: 600px; font-size: 3em;} */
/* #email{position: absolute; top: 400px; left: 600px;}
#nr{position: absolute; top: 450px; left: 600px;} */
/* Blog */
/* .drop {clear: both;}
  } */


} 
  }