*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Style top navigation */
section {
    display: -webkit-flex;
    display: flex;
  }

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #f7eadb;
    padding: 10px;
    text-align: end;

  }

  /* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

li {
      display: inline;   
  }

li a {
      padding: 8px;
      text-decoration: none;
      color: #583f1c;
  }

a:hover{
      color: #ffffff;
      transition: 0.5s;
  }

  /* Style homepage (mobile phones) */
#name{
    position: absolute;
    top: 350px;
    left: 20px;
    font-weight: 150;
}
#description{
    position: absolute;
    top: 400px;
    left: 40px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #583f1c;
    background-color: #dbbca4;

}

/* Style about page (mobile phone)*/
.roundimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 280px;
    border-radius: 50%;  
}
.about h2{
    font-weight: 100;
}
.about i{
    font-weight: 500;
}
.experience{
    text-decoration: overline;
}
.info{
    width: 80%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style projects page (mobile phone) */
#hartigan{
    position: absolute;
    top: 200px;
    left: 50px;
}
.project h1{
    font-weight: 100;
    position: absolute;
    top: 80px;
    left: 5px;
}
.project h2{
    font-weight: 100;
    position: absolute;
    top: 150px;
    left: 55px;
}
.project p{
    position: absolute;
    top: 500px;
    text-align: center;
}
#skillstitle{
    font-weight: 100;
    position: absolute;
    top: 1000px;
    left: 60px;
}

/* Style blog page (mobile phone) */ 
.blog{
    position: relative;
    top: 50px;
}
.blog h1{
    font-weight: 150;
    text-align: center;
}
.blog img{
    width: 100vw;
    height: 30vh;
}
.blog h3{
    font-weight: 100;
    font-size: 1.2em;
    text-decoration: overline;
}
.blog p{
    font-family: 'Times New Roman', Times, serif;
}

/* Style contact page (mobile phone) */
.contact h1{
    font-weight: 100;
    position: absolute;
    top: 250px;
    left: 110px;
}
#email{
    position: absolute;
    top: 320px;
    left: 110px;
    font-size: 1.2em;
}
#nr{
    position: absolute;
    top: 380px;
    left: 110px;
    font-size: 1.2em;
}

/* Style the footer */
footer {
    background-color: #9e9e9e;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
.about{width: 100%;}
 

  /* For tablets */
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

/* About */
#name{ position:absolute; top: 450px; left: 120px;}
#description{position: absolute; top: 500px; left: 180px;}
/* Projects */
.project h1{position: absolute; left: 210px;}
.project h2{position: absolute; left: 250px;}
.project p{font-size: 1.5em;}
#skillstitle{position: absolute; top: 1100px; left: 250px;}
#hartigan{position: absolute; left: 250px;}
/* Contact */
.contact h1{font-size: 2.5em; position: absolute; top: 450px; left: 280px;}
#email{font-size: 1.5em; position: absolute; top: 530px; left: 280px;}
#nr{font-size: 1.5em; position: absolute; top: 600px; left: 280px;}
/* Blog */
.blog img{width: 400px; height: 400px; float: left;}
.blog p (float: right;)


  /* For desktop */
  @media only screen and (min-width: 769px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
/* About */
#name{position: absolute; top: 320px; left: 320px; font-size: 3em; font-weight: 150;}
#description{position: absolute; top: 400px; left: 420px; font-size: 1.5em;} 
/* Project */
.project p{font-size: 1em; width: 80%; position: absolute; left: 140px;}
.project h2{position: absolute; left: 580px;}
.project h1{position: absolute; left: 530px;}
#skillstitle{position: absolute; top: 750px; left: 590px;}
#hartigan{position: absolute; left: 580px;}
/* Contact */
.contact h1{position: absolute; top: 320px; left: 600px; font-size: 3em;}
#email{position: absolute; top: 400px; left: 600px;}
#nr{position: absolute; top: 450px; left: 600px;}
/* Blog */
.drop{clear: both;}
